@charset "UTF-8";
.grid {
	display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}
querformat {  
  grid-column-start:2; 
  grid-column-end:20; 
    margin-top: 200px;
    margin-bottom: 200px;
    }











.grid img,
.grid video {
	width:100%;
	height:auto;
}

.grid > .w-1-12 {
	width:8.333%;
}

.grid > .w-2-12 {
	width:16.666%;
}

.grid > .w-3-12 {
	width:25%;
}

.grid > .w-4-12 {
	width:33.333%;
}

.grid > .w-5-12 {
	width:41.666%;
}

.grid > .w-6-12 {
	width:50%;
}

.grid > .w-7-12 {
	width:58.333%;
}

.grid > .w-8-12 {
	width:66.666%;
}

.grid > .w-9-12 {
	width:75%;
}

.grid > .w-10-12 {
	width:83.333%;
}

.grid > .w-11-12 {
	width:91.666%;
}

.grid > .w-12-12 {
	width:100%;
}

@media screen and (max-width:480px) {

.grid > .w-1-12,
.grid > .w-2-12,
.grid > .w-3-12,
.grid > .w-4-12,
.grid > .w-5-12,
.grid > .w-6-12,
.grid > .w-7-12,
.grid > .w-8-12,
.grid > .w-9-12,
.grid > .w-10-12,
.grid > .w-11-12,
.grid > .w-12-12 {
	width:100%;
}

.grid > .portrait {
	width:75%;
}

